@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Solicitar serviço";
}

<div data-ng-controller="createServiceSolicitationController">

    <div class="loading" data-ng-show="pendingRequests > 0"></div>
    <h2>Solicitar serviço</h2>
    <hr />
    <section class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label" for="initialMonth">
                Mês de início
            </label>
            <div class="col-md-10">
                <select class="form-control"
                        id="initialMonth"
                        data-ng-options="month.Text as month.Text for month in months"
                        data-ng-model="form.StartMonth">
                    <option value="">Escolha o mês de início</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="monthQuantity">
                Quantidade de meses
            </label>
            <div class="col-md-10">
                <input class="form-control"
                       type="text"
                       data-ng-model="form.MonthQuantity"
                       id="monthQuantity" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="location">
                Local
            </label>
            <div class="col-md-10">
                <select class="form-control"
                        id="initialMonth"
                        data-ng-options="location.Id as location.Name for location in locations"
                        data-ng-model="form.LocationId">
                    <option value="">Escolha o local</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="location">
                Modelo de contrato
            </label>
            <div class="col-md-10">
                <select class="form-control"
                        id="initialMonth"
                        data-ng-options="contractModel.Id as contractModel.Name for contractModel in contractModels"
                        data-ng-model="form.ContractModelId">
                    <option value="">Escolha o modelo de contrato</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-default" data-ng-click="send()">Enviar</button>
            </div>
        </div>

    </section>

</div>
