@{
    ViewBag.Title = "Página inicial ";
}

<div class="jumbotron">
    <h1>Você Viu?</h1>
    <p class="lead">Publicidade para o público que você almeja</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Como funciona</h2>
        <p>
            A <i>Você Viu</i> disponibiliza diversos pontos de publicidade, em shoppings, teatros, universidades, entre outros,
            em que você pode enviar o seu anúncio
        </p>
    </div>
    <div class="col-md-4">
        <h2>É fácil</h2>
        <p>Com poucos cliques, você pode se cadastrar como anunciante, escolher onde você deseja que seu anúncio seja veiculado, e enviar o seu conteúdo</p>
    </div>
    <div class="col-md-4">
        <h2>Comece agora</h2>
        <p>Após a aprovação do seu conteúdo e confirmação do pagamento, é só esperar o início do mês contratado, e seu anúncio estará sendo veiculado</p>
        <p><a class="btn btn-default" href="#">Conheça as regras de conteúdo de anúncio &raquo;</a></p>
    </div>
</div>