@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-controller="createServiceSolicitationController">

    <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
        <label class="control-label"><i class="fa fa-calendar"></i> Date <small>(as date)</small></label>
        <input class="form-control"
               data-ng-model="selectedDate"
               data-date-format="dd-MM-yyyy"
               data-bs-datepicker="" type="text">
    </div>


</div>
