@{
    ViewBag.Title = "Página inicial do administrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Você Viu?</h1>
    <p class="lead">Home do administrador</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Há X solicitações de serviço pendentes de aprovação</h2>
    </div>
    <div class="col-md-4">
        <h2>Há X anúncios pendentes de aprovação de conteúdo</h2>
    </div>
    <div class="col-md-4">
        <h2>Há X anúncios pendentes de confirmação de pagamento</h2>
    </div>
</div>