@{
    ViewBag.Title = "Gerenciamento de modelos de contrato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-controller="contractModelController" >
    <h3>Gerenciamento de modelos de contrato</h3>
    <div class="loading" data-ng-show="pendingRequests > 0"></div>
    <div data-ng-show="step == 'list'">
        <div class="row">
            <div class="col-md-8">
                <button class="btn btn-info" data-ng-click="goToClearedForm()">Criar novo modelo de contrato</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <table class="table" data-ng-show="contractModels.length > 0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="contractModel in contractModels">
                            <td>{{contractModel.Name}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" data-ng-click="remove(contractModel)">Excluir</button>
                                <button type="button" class="btn btn-info btn-sm" data-ng-click="edit(contractModel)">Editar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p data-ng-show="contractModels.length == 0 && pendingRequests == 0">Não há modelos de contrato cadastrados</p>
            </div>
        </div>
    </div>
    <div data-ng-show="step == 'form'">
        <section class="form-horizontal">
            <button data-ng-click="showList()" class="btn btn-info">Voltar para listagem</button>
            <button data-ng-click="clear()" class="btn">Limpar formulário</button>
            <h2>{{formTitle}}</h2>
            <hr />

            <div class="form-group">
                <label for="name" class="col-md-2 control-label">Nome</label>
                <div class="col-md-10">
                    <input type="text" id="name" data-ng-model="form.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="summary" class="col-md-2 control-label">Sumário</label>
                <div class="col-md-10">
                    <textarea id="summary" data-ng-model="form.Summary" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="terms" class="col-md-2 control-label">Cláusulas</label>
                <div class="col-md-10">
                    <textarea id="terms" data-ng-model="form.Terms" class="form-control" > </textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-ng-click="save()">Salvar</button>
                </div>
            </div>
        </section>
    </div>
</div>
