@{
    ViewBag.Title = "Criar conta de anunciante ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article data-ng-controller="NewAdvertiserAccountController" >
    <div class="loading" data-ng-show="pendingRequests > 0"></div>
    <h2>Criar nova conta de anunciante</h2>
    <section class="form-horizontal">
        <div class="row">
            <div class="col-md-5 form-group">
                <label class="col-md-8" for="nome">
                    Nome
                </label>
                <div class="col-md-10">
                    <input class="form-control" type="text" data-ng-model="form.Name" id="nome"/>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 form-group">
                <label class="col-md-8" for="email">
                    E-mail
                </label>
                <div class="col-md-10">
                    <input class="form-control" type="text" data-ng-model="form.Email" id="email"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 form-group">
                <label for="senha" class="col-md-8">
                    Senha
                </label>
                <div class="col-md-10">
                    <input class="form-control" type="password" data-ng-model="form.Password" id="senha" />
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 form-group">
                <label class="col-md-8" for="confirmacao">
                    Confirmação da senha
                </label>
                <div class="col-md-10">
                    <input class="form-control" type="password" data-ng-model="form.PasswordConfirmation" id="confirmacao" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <button type="button" class="btn btn-primary" data-ng-click="submit()">Cadastrar </button>
            </div>
        </div>
    </section>
</article>