@{
    ViewBag.Title = "Autenticação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="row" data-ng-controller="AdvertiserAuthenticationController" data-ng-class="{'loading' : pendingRequests > 0}">
    <div class="col-md-8">
        <section class="form-horizontal">
            <h4>Forneça suas credenciais para autenticar</h4>
            <hr />

            <div class="form-group">
                <label for="userName" class="col-md-2 control-label">Usuário</label>
                <div class="col-md-10">
                    <input type="text" id="userName" data-ng-model="form.Username" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-md-2 control-label">Senha</label>
                <div class="col-md-10">
                    <input type="password" id="password" data-ng-model="form.Password" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <input type="checkbox" data-ng-model="form.RememberMe" id="rememberMe" />
                        <label for="rememberMe">Manter autenticado</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-ng-click="authenticate()">Autenticar</button>
                </div>
            </div>
            <p>
                <a href="@Url.Action("Create","Account",new{Area = "Advertiser"})">Registre-se</a> caso você não tenha uma conta
            </p>
        </section>
    </div>
</div>
